In [1]:
import pandas as pd
import datetime as dt

In [2]:
weather = pd.read_csv("monthly_weather.csv")

In [3]:
alltrips = pd.read_csv("Shared_Micromobility_Vehicle_trips.csv")

C:\Users\Ashley\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
weather.head()

,Month,maxtemp,atemp,mintemp,maxdew,adew,mindew,maxhum,ahum,minhum,maxwind,awind,minwind,maxp,ap,minp,prec
0,1/1/2019,46,41.5,36,39,36.8,35,97,83.5,76,21,11.2,0,29.7,29.6,29.5,0
1,1/2/2019,41,38.3,37,39,36.1,35,97,92.2,79,15,10.8,8,29.6,29.6,29.4,1
2,1/3/2019,52,40.5,31,38,36.0,30,97,85.4,53,13,7.5,0,29.5,29.4,29.4,1
3,1/4/2019,67,46.0,30,36,33.4,29,96,66.7,31,10,3.8,0,29.6,29.5,29.4,1
4,1/5/2019,73,49.1,32,40,35.1,30,93,66.4,24,13,4.3,0,29.6,29.5,29.5,0

In [5]:
alltrips.head()

,ID,Device ID,Vehicle Type,Trip Duration,Trip Distance,Start Time,End Time,Modified Date,Month,Hour,Day of Week,Council District (Start),Council District (End),Year,Census Tract Start,Census Tract End
0,6865731e-5e4b-4819-9435-4e62e09a652d,08c8c852-257c-49ad-a14f-727bfc79626d,NaN,NaN,NaN,NaN,NaN,12/13/2018 03:36:12 PM,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN
1,08dc0d9c-735e-4006-b9af-60011509e469,255716b5-4a9f-4efc-9967-7a65b3521bac,bicycle,11491603.0,1658.0,11/30/2018 11:00:00 AM,04/12/2019 12:00:00 PM,12/21/2018 12:41:42 AM,11.0,11.0,5.0,9.0,0.0,2018.0,NaN,NaN
2,aa27d854-9f27-456e-ae49-f268a9b2b533,6b90a827-60a1-47ad-94a4-d33654dbd50d,scooter,170.0,0.0,04/29/2019 05:30:00 PM,04/29/2019 05:30:00 PM,04/30/2019 06:45:17 AM,4.0,17.0,1.0,9.0,9.0,2019.0,4.8453e+10,48453000601
3,b7c9f133-966b-46f1-91ce-2682ce7fcf50,1e5234a3-e86b-41e1-a1ad-e98310f3a71c,scooter,90.0,0.0,04/29/2019 05:30:00 PM,04/29/2019 05:30:00 PM,04/30/2019 06:45:17 AM,4.0,17.0,1.0,9.0,9.0,2019.0,4.8453e+10,48453000601
4,1d4f5d89-c044-46cb-8674-80d37fa0371f,caa0325c-7c0b-4909-a573-d83126ecc953,scooter,570.0,826.0,04/29/2019 05:15:00 PM,04/29/2019 05:15:00 PM,04/30/2019 06:45:17 AM,4.0,17.0,1.0,9.0,9.0,2019.0,4.8453e+10,48453001100

In [6]:
weather = weather[["Month", "maxtemp", "atemp", "mintemp", "maxhum", "ahum",
                  "minhum", "maxwind", "awind", "minwind","prec"]]
weather = weather.rename(columns={"Month":"date"})

In [7]:
weather['date'] = weather['date'].astype('datetime64')

In [8]:
weather['Day'] = weather['date'].dt.day
weather['Month'] = weather['date'].dt.month
weather['Day of week'] = weather['date'].dt.dayofweek
weather['Year'] = weather['date'].dt.year

In [9]:
weather.head()

,date,maxtemp,atemp,mintemp,maxhum,ahum,minhum,maxwind,awind,minwind,prec,Day,Month,Day of week,Year
0,2019-01-01,46,41.5,36,97,83.5,76,21,11.2,0,0,1,1,1,2019
1,2019-01-02,41,38.3,37,97,92.2,79,15,10.8,8,1,2,1,2,2019
2,2019-01-03,52,40.5,31,97,85.4,53,13,7.5,0,1,3,1,3,2019
3,2019-01-04,67,46.0,30,96,66.7,31,10,3.8,0,1,4,1,4,2019
4,2019-01-05,73,49.1,32,93,66.4,24,13,4.3,0,0,5,1,5,2019

In [10]:
alltrips = alltrips[["ID", "Device ID", "Vehicle Type", "Trip Duration", 
                     "Trip Distance", "Start Time", "End Time", 
                    "Month", "Hour", "Day of Week", "Year"]]

In [11]:
alltrips = alltrips.dropna()

In [12]:
alltrips["Trip Distance"] = alltrips["Trip Distance"].astype("int")
alltrips["Trip Duration"] = alltrips["Trip Duration"].astype("int")
alltrips["Month"] = alltrips["Month"].astype("int")
alltrips["Hour"] = alltrips["Hour"].astype("int")
alltrips["Day of Week"] = alltrips["Day of Week"].astype("int")
alltrips["Year"] = alltrips["Year"].astype("int")

In [13]:
alltrips = alltrips[alltrips["Trip Distance"] > 0]
alltrips = alltrips[alltrips["Trip Distance"] <= 27358.8]
alltrips = alltrips[alltrips["Trip Duration"] <= 86400]

In [14]:
alltrips.head()

,ID,Device ID,Vehicle Type,Trip Duration,Trip Distance,Start Time,End Time,Month,Hour,Day of Week,Year
4,1d4f5d89-c044-46cb-8674-80d37fa0371f,caa0325c-7c0b-4909-a573-d83126ecc953,scooter,570,826,04/29/2019 05:15:00 PM,04/29/2019 05:15:00 PM,4,17,1,2019
5,cd442fb9-058f-46a7-af90-b4adb56fd163,1653cf10-75f5-4934-a9d9-c8d43ade67a9,scooter,438,1815,04/29/2019 05:30:00 PM,04/29/2019 05:45:00 PM,4,17,1,2019
6,e1ac0e42-ab2d-4eac-b019-f085169c1d38,1d89f9e2-d01a-4736-b7d8-258cb9a2108c,scooter,391,1519,04/29/2019 05:30:00 PM,04/29/2019 05:30:00 PM,4,17,1,2019
8,1c8b3eab-6aed-4b69-8eca-6b5e0b70a45f,ab262134-2421-49b7-a97f-fadde23e71db,scooter,570,1843,04/29/2019 05:30:00 PM,04/29/2019 05:45:00 PM,4,17,1,2019
9,f9174176-9d16-431d-af21-ebcab226da31,73e8b0bf-3aae-4f80-8683-c5d7c3b3989a,scooter,668,2829,04/29/2019 05:15:00 PM,04/29/2019 05:30:00 PM,4,17,1,2019

In [15]:
scooters = alltrips[alltrips["Vehicle Type"] == "scooter"]
bicycles = alltrips[alltrips["Vehicle Type"] == "bicycle"]

In [16]:
new = scooters["Start Time"].str.split("/", n = 2, expand = True)

In [17]:
new.head()

    0   1                 2
4  04  29  2019 05:15:00 PM
5  04  29  2019 05:30:00 PM
6  04  29  2019 05:30:00 PM
8  04  29  2019 05:30:00 PM
9  04  29  2019 05:15:00 PM

In [18]:
scooters['Day'] = new[1].astype('int')
scooters['Month'] = new[0].astype('int')
scooters['Hour'] = scooters['Hour'].astype('int')
scooters['Day of Week'] = scooters['Day of Week'].astype('int')
scooters['Year'] = scooters['Year'].astype('int')

C:\Users\Ashley\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\Ashley\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Ashley\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Ashley\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\Ashley\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [19]:
scooters.head()

,ID,Device ID,Vehicle Type,Trip Duration,Trip Distance,Start Time,End Time,Month,Hour,Day of Week,Year,Day
4,1d4f5d89-c044-46cb-8674-80d37fa0371f,caa0325c-7c0b-4909-a573-d83126ecc953,scooter,570,826,04/29/2019 05:15:00 PM,04/29/2019 05:15:00 PM,4,17,1,2019,29
5,cd442fb9-058f-46a7-af90-b4adb56fd163,1653cf10-75f5-4934-a9d9-c8d43ade67a9,scooter,438,1815,04/29/2019 05:30:00 PM,04/29/2019 05:45:00 PM,4,17,1,2019,29
6,e1ac0e42-ab2d-4eac-b019-f085169c1d38,1d89f9e2-d01a-4736-b7d8-258cb9a2108c,scooter,391,1519,04/29/2019 05:30:00 PM,04/29/2019 05:30:00 PM,4,17,1,2019,29
8,1c8b3eab-6aed-4b69-8eca-6b5e0b70a45f,ab262134-2421-49b7-a97f-fadde23e71db,scooter,570,1843,04/29/2019 05:30:00 PM,04/29/2019 05:45:00 PM,4,17,1,2019,29
9,f9174176-9d16-431d-af21-ebcab226da31,73e8b0bf-3aae-4f80-8683-c5d7c3b3989a,scooter,668,2829,04/29/2019 05:15:00 PM,04/29/2019 05:30:00 PM,4,17,1,2019,29

In [20]:
scooters_grouped = scooters.groupby(['Month','Hour','Year','Day'])['ID'].count().reset_index()

In [21]:
scooters_grouped = scooters_grouped.rename(columns={'ID':'Count'})

In [22]:
scooters_grouped.head()

   Month  Hour  Year  Day  Count
0      1     0  2019    1    342
1      1     0  2019    2     79
2      1     0  2019    3     16
3      1     0  2019    4     82
4      1     0  2019    5    188

In [23]:
scooter_summary = pd.merge(scooters_grouped, weather, how='left', on=['Year','Month', 'Day'])

In [24]:
scooter_summary.head()

,Month,Hour,Year,Day,Count,date,maxtemp,atemp,mintemp,maxhum,ahum,minhum,maxwind,awind,minwind,prec,Day of week
0,1,0,2019,1,342,2019-01-01,46.0,41.5,36.0,97.0,83.5,76.0,21.0,11.2,0.0,0.0,1.0
1,1,0,2019,2,79,2019-01-02,41.0,38.3,37.0,97.0,92.2,79.0,15.0,10.8,8.0,1.0,2.0
2,1,0,2019,3,16,2019-01-03,52.0,40.5,31.0,97.0,85.4,53.0,13.0,7.5,0.0,1.0,3.0
3,1,0,2019,4,82,2019-01-04,67.0,46.0,30.0,96.0,66.7,31.0,10.0,3.8,0.0,1.0,4.0
4,1,0,2019,5,188,2019-01-05,73.0,49.1,32.0,93.0,66.4,24.0,13.0,4.3,0.0,0.0,5.0

In [25]:
scooter_summary.to_csv("scooter_summary.csv")

In [26]:
alltrips.to_csv("alltrips_cleaned.csv")

In [27]:
bicycles.head()

,ID,Device ID,Vehicle Type,Trip Duration,Trip Distance,Start Time,End Time,Month,Hour,Day of Week,Year
829,30b1f786-7385-49fc-b4f6-153d95a2f1e4,a1798c71-19a2-4efe-85fa-3726eee8ceb3,bicycle,882,2349,04/29/2019 12:15:00 PM,04/29/2019 12:30:00 PM,4,12,1,2019
830,730ac628-160c-49db-9183-bd06d8060db4,c18a6875-b9ae-4a35-8e30-e066e0f70ca3,bicycle,454,2011,04/29/2019 12:45:00 PM,04/29/2019 01:00:00 PM,4,12,1,2019
831,0f4cbccc-8f3b-4509-ab87-8400690bc347,1ca3e3fc-ce8d-4bc2-b1ac-c8eba254c4b9,bicycle,800,1207,04/29/2019 12:45:00 PM,04/29/2019 01:00:00 PM,4,12,1,2019
839,21fd650a-278f-43bc-b00b-4aee1abc0558,8884a715-5aef-4c6b-8e8f-f5f9bc217fde,bicycle,389,1979,04/29/2019 12:45:00 PM,04/29/2019 01:00:00 PM,4,12,1,2019
861,7998fa97-0b79-46d3-ab2f-1de1411f14e3,daaf7ef8-560b-4332-a382-1cfc5249392b,bicycle,191,675,04/29/2019 11:45:00 AM,04/29/2019 12:00:00 PM,4,11,1,2019

In [28]:
new = bicycles["Start Time"].str.split("/", n = 2, expand = True)

In [29]:
bicycles['Day'] = new[1].astype('int')
bicycles['Month'] = new[0].astype('int')
bicycles['Hour'] = bicycles['Hour'].astype('int')
bicycles['Day of Week'] = bicycles['Day of Week'].astype('int')
bicycles['Year'] = bicycles['Year'].astype('int')

C:\Users\Ashley\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\Ashley\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Ashley\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Ashley\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\Ashley\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [30]:
bikes_grouped = bicycles.groupby(['Month','Hour','Year','Day'])['ID'].count().reset_index()

In [31]:
bikes_grouped = bikes_grouped.rename(columns={'ID':'Count'})

In [32]:
bikes_grouped.head()

   Month  Hour  Year  Day  Count
0      1     0  2019    1     12
1      1     0  2019    2      2
2      1     0  2019    4      9
3      1     0  2019    5     11
4      1     0  2019    6     12

In [33]:
bikes_summary = pd.merge(bikes_grouped, weather, how='left', on=['Year','Month', 'Day'])

In [34]:
bikes_summary.head()

,Month,Hour,Year,Day,Count,date,maxtemp,atemp,mintemp,maxhum,ahum,minhum,maxwind,awind,minwind,prec,Day of week
0,1,0,2019,1,12,2019-01-01,46.0,41.5,36.0,97.0,83.5,76.0,21.0,11.2,0.0,0.0,1.0
1,1,0,2019,2,2,2019-01-02,41.0,38.3,37.0,97.0,92.2,79.0,15.0,10.8,8.0,1.0,2.0
2,1,0,2019,4,9,2019-01-04,67.0,46.0,30.0,96.0,66.7,31.0,10.0,3.8,0.0,1.0,4.0
3,1,0,2019,5,11,2019-01-05,73.0,49.1,32.0,93.0,66.4,24.0,13.0,4.3,0.0,0.0,5.0
4,1,0,2019,6,12,2019-01-06,75.0,53.9,34.0,100.0,84.7,53.0,17.0,7.6,0.0,0.0,6.0

In [35]:
bikes_summary.to_csv("bikes_summary.csv")

In [36]:
scooter_summary['Vehicle Type'] = 'scooter'
scooter_summary['Vehicle Encoded'] = 0
bikes_summary['Vehicle Type'] = 'bicycle'
bikes_summary['Vehicle Encoded'] = 1

In [37]:
all_summary = pd.concat([scooter_summary,bikes_summary])

In [38]:
all_summary.head()

,Month,Hour,Year,Day,Count,date,maxtemp,atemp,mintemp,maxhum,ahum,minhum,maxwind,awind,minwind,prec,Day of week,Vehicle Type,Vehicle Encoded
0,1,0,2019,1,342,2019-01-01,46.0,41.5,36.0,97.0,83.5,76.0,21.0,11.2,0.0,0.0,1.0,scooter,0
1,1,0,2019,2,79,2019-01-02,41.0,38.3,37.0,97.0,92.2,79.0,15.0,10.8,8.0,1.0,2.0,scooter,0
2,1,0,2019,3,16,2019-01-03,52.0,40.5,31.0,97.0,85.4,53.0,13.0,7.5,0.0,1.0,3.0,scooter,0
3,1,0,2019,4,82,2019-01-04,67.0,46.0,30.0,96.0,66.7,31.0,10.0,3.8,0.0,1.0,4.0,scooter,0
4,1,0,2019,5,188,2019-01-05,73.0,49.1,32.0,93.0,66.4,24.0,13.0,4.3,0.0,0.0,5.0,scooter,0

In [39]:
all_summary.to_csv("all_summary.csv")