In [1]:
# Import dependencies
import pandas as pd
import numpy as np

import requests
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy import func

In [2]:
# read in csv
all_vehicles = pd.read_csv("all_vehicles_ml.csv")

In [3]:
weather = pd.read_csv('weather_cleaned.csv')

In [4]:
all_vehicles.head()

,Unnamed: 0,month,hour,year,day,count,date,maxtemp,atemp,mintemp,...,maxwind,awind,minwind,prec,day_of_week,vehicle_type,vehicle_encoded,hour_encoded,month_encoded,count_encoded
0,0,1,0,2019,1,342,2019-01-01,46,41,36,...,21,11,0,0,1,scooter,0,0,0,0
1,1,1,0,2019,2,79,2019-01-02,41,38,37,...,15,10,8,1,2,scooter,0,0,0,0
2,2,1,0,2019,3,16,2019-01-03,52,40,31,...,13,7,0,1,3,scooter,0,0,0,0
3,3,1,0,2019,4,82,2019-01-04,67,46,30,...,10,3,0,1,4,scooter,0,0,0,0
4,4,1,0,2019,5,188,2019-01-05,73,49,32,...,13,4,0,0,5,scooter,0,0,0,0

In [5]:
# create a unique id for each row
unique_id = pd.Series(np.arange(1,23129,1))

In [6]:
all_vehicles['unique_id'] = unique_id

In [7]:
# get only the columns that are needed for our model and app
all_vehicles = all_vehicles[['unique_id','date','day', 'month','year','hour',
                             'day_of_week','atemp','ahum','awind',
                             'prec','vehicle_encoded','hour_encoded',
                             'month_encoded','count_encoded','count']]

In [8]:
all_vehicles

,unique_id,date,day,month,year,hour,day_of_week,atemp,ahum,awind,prec,vehicle_encoded,hour_encoded,month_encoded,count_encoded,count
0,1,2019-01-01,1,1,2019,0,1,41,83,11,0,0,0,0,0,342
1,2,2019-01-02,2,1,2019,0,2,38,92,10,1,0,0,0,0,79
2,3,2019-01-03,3,1,2019,0,3,40,85,7,1,0,0,0,0,16
3,4,2019-01-04,4,1,2019,0,4,46,66,3,1,0,0,0,0,82
4,5,2019-01-05,5,1,2019,0,5,49,66,4,0,0,0,0,0,188
5,6,2019-01-06,6,1,2019,0,6,53,84,7,0,0,0,0,0,256
6,7,2019-01-07,7,1,2019,0,0,67,82,8,0,0,0,0,0,119
7,8,2019-01-08,8,1,2019,0,1,61,78,4,0,0,0,0,0,129
8,9,2019-01-09,9,1,2019,0,2,53,45,12,0,0,0,0,0,119
9,10,2019-01-10,10,1,2019,0,3,51,56,3,0,0,0,0,0,142
10,11,2019-01-11,11,1,2019,0,4,55,82,4,0,0,0,0,0,137
11,12,2019-01-12,12,1,2019,0,5,54,72,8,1,0,0,0,0,192
12,13,2019-01-13,13,1,2019,0,6,45,66,12,0,0,0,0,0,227
13,14,2019-01-14,14,1,2019,0,0,43,70,6,0,0,0,0,0,57
14,15,2019-01-15,15,1,2019,0,1,49,74,4,0,0,0,0,0,77
15,16,2019-01-16,16,1,2019,0,2,54,90,2,0,0,0,0,0,127
16,17,2019-01-17,17,1,2019,0,3,61,75,4,1,0,0,0,0,100
17,18,2019-01-18,18,1,2019,0,4,59,92,8,0,0,0,0,0,149
18,19,2019-01-19,19,1,2019,0,5,51,46,17,1,0,0,0,1,457
19,20,2019-01-20,20,1,2019,0,6,41,55,5,0,0,0,0,0,295
20,21,2019-01-21,21,1,2019,0,0,49,72,10,0,0,0,0,0,213
21,22,2019-01-22,22,1,2019,0,1,60,75,12,0,0,0,0,0,143
22,23,2019-01-23,23,1,2019,0,2,43,48,12,1,0,0,0,0,53
23,24,2019-01-24,24,1,2019,0,3,45,60,6,0,0,0,0,0,134
24,25,2019-01-25,25,1,2019,0,4,48,68,4,0,0,0,0,0,176
25,26,2019-01-26,26,1,2019,0,5,51,81,5,0,0,0,0,0,306
26,27,2019-01-27,27,1,2019,0,6,51,77,3,1,0,0,0,0,211
27,28,2019-01-28,28,1,2019,0,0,55,65,13,0,0,0,0,0,91
28,29,2019-01-29,29,1,2019,0,1,43,43,12,0,0,0,0,0,80
29,30,2019-01-30,30,1,2019,0,2,47,56,5,0,0,0,0,0,112
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23098,23099,2018-12-13,13,12,2018,22,3,59,68,12,0,1,5,3,0,7
23099,23100,2018-12-14,14,12,2018,22,4,49,60,15,0,1,5,3,0,6
23100,23101,2018-12-15,15,12,2018,22,5,52,36,7,0,1,5,3,0,1
23101,23102,2018-12-16,16,12,2018,22,6,47,64,2,0,1,5,3,0,1
23102,23103,2018-12-17,17,12,2018,22,0,53,60,2,0,1,5,3,0,1
23103,23104,2018-12-19,19,12,2018,22,2,57,93,4,1,1,5,3,0,3
23104,23105,2018-12-20,20,12,2018,22,3,57,50,13,0,1,5,3,0,2
23105,23106,2018-12-22,22,12,2018,22,5,56,55,7,0,1,5,3,0,1
23106,23107,2018-12-27,27,12,2018,22,3,57,70,6,1,1,5,3,0,1
23107,23108,2018-12-31,31,12,2018,22,0,47,85,5,1,1,5,3,0,30
23108,23109,2018-12-01,1,12,2018,23,5,64,46,7,1,1,5,3,0,22
23109,23110,2018-12-02,2,12,2018,23,6,55,56,7,0,1,5,3,0,9
23110,23111,2018-12-03,3,12,2018,23,0,54,52,12,0,1,5,3,0,9
23111,23112,2018-12-04,4,12,2018,23,1,47,59,9,0,1,5,3,0,9
23112,23113,2018-12-05,5,12,2018,23,2,48,55,5,0,1,5,3,0,14
23113,23114,2018-12-06,6,12,2018,23,3,56,93,5,0,1,5,3,0,5
23114,23115,2018-12-07,7,12,2018,23,4,51,92,13,1,1,5,3,0,1
23115,23116,2018-12-08,8,12,2018,23,5,45,81,13,1,1,5,3,0,15
23116,23117,2018-12-09,9,12,2018,23,6,44,71,10,0,1,5,3,0,7
23117,23118,2018-12-10,10,12,2018,23,0,44,62,4,0,1,5,3,0,2
23118,23119,2018-12-11,11,12,2018,23,1,45,75,6,0,1,5,3,0,8
23119,23120,2018-12-12,12,12,2018,23,2,58,85,6,0,1,5,3,0,8
23120,23121,2018-12-13,13,12,2018,23,3,59,68,12,0,1,5,3,0,5
23121,23122,2018-12-14,14,12,2018,23,4,49,60,15,0,1,5,3,0,8
23122,23123,2018-12-21,21,12,2018,23,4,50,45,6,0,1,5,3,0,2
23123,23124,2018-12-22,22,12,2018,23,5,56,55,7,0,1,5,3,0,2
23124,23125,2018-12-23,23,12,2018,23,6,51,56,11,0,1,5,3,0,2
23125,23126,2018-12-27,27,12,2018,23,3,57,70,6,1,1,5,3,0,2
23126,23127,2018-12-28,28,12,2018,23,4,47,60,15,0,1,5,3,0,1
23127,23128,2018-12-31,31,12,2018,23,0,47,85,5,1,1,5,3,0,10

In [9]:
# create a dataframe for vehicle types 
vehicle_dataframe = pd.DataFrame({
                    "vehicle_encoded":[0,1],
                    "vehicle_type":['scooter','bicycle']
})
vehicle_dataframe

   vehicle_encoded vehicle_type
0                0      scooter
1                1      bicycle

In [10]:
# create a dataframe mapping hour groups
hour_dataframe = pd.DataFrame({
                    "hour_encoded":[0,1,2,3,4,5],
                    "hour_group":['Midnight - 3am','4am - 7am','8am - 11am',
                                 'Noon - 3pm','4pm - 7pm','8pm - 11pm']})
hour_dataframe

   hour_encoded      hour_group
0             0  Midnight - 3am
1             1       4am - 7am
2             2      8am - 11am
3             3      Noon - 3pm
4             4       4pm - 7pm
5             5      8pm - 11pm

In [11]:
# create a dataframe mapping month groups
month_dataframe = pd.DataFrame({
                    "month_encoded": [0,1,2,3],
                    "month_group":['January - March', 'April - June',
                                  'July - September','October - December']
})
month_dataframe

   month_encoded         month_group
0              0     January - March
1              1        April - June
2              2    July - September
3              3  October - December

In [12]:
# create a dataframe mapping count groups
count_dataframe = pd.DataFrame({
                    "count_encoded": [0,1,2,3,4,5,6,7,8,9,10],
                    "count_group": ['0 - 435', '436 - 869', '870 - 1304',
                                    '1305 - 1738','1739 - 2171', '2172 - 2607',
                                    '2608 - 3011', '3012 - 3476', '3477 - 3892',
                                    '3893 - 4334','Over 4335']
})
count_dataframe

    count_encoded  count_group
0               0      0 - 435
1               1    436 - 869
2               2   870 - 1304
3               3  1305 - 1738
4               4  1739 - 2171
5               5  2172 - 2607
6               6  2608 - 3011
7               7  3012 - 3476
8               8  3477 - 3892
9               9  3893 - 4334
10             10    Over 4335

In [13]:
weather = weather.drop('Unnamed: 0', axis=1)

In [14]:
weather.head()

,date,maxtemp,atemp,mintemp,maxhum,ahum,minhum,maxwind,awind,minwind,prec,day,month,day_of_week,year
0,2019-01-01,46,41,36,97,83,76,21,11,0,0,1,1,1,2019
1,2019-01-02,41,38,37,97,92,79,15,10,8,1,2,1,2,2019
2,2019-01-03,52,40,31,97,85,53,13,7,0,1,3,1,3,2019
3,2019-01-04,67,46,30,96,66,31,10,3,0,1,4,1,4,2019
4,2019-01-05,73,49,32,93,66,24,13,4,0,0,5,1,5,2019

In [15]:
# connect to local postgres
rds_connection_string = "postgres:<password>@localhost:5432/micromobility"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [16]:
# check if table exists in animals database
engine.table_names()

['vehicles', 'all_vehicles', 'hours', 'months', 'counts', 'weather']

In [17]:
# load dataframes to postgres database
all_vehicles.to_sql(name = 'all_vehicles', con = engine, if_exists="append", index=False)
vehicle_dataframe.to_sql(name = 'vehicles', con = engine, if_exists="append", index=False)
hour_dataframe.to_sql(name = 'hours', con = engine, if_exists="append", index=False)
month_dataframe.to_sql(name = 'months', con = engine, if_exists="append", index=False)
count_dataframe.to_sql(name = 'counts', con = engine, if_exists="append", index=False)
weather.to_sql(name = 'weather', con=engine, if_exists="append", index=False)